.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 15px;
    width: 90%;
    margin: 0 auto;
  }
  
  .card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Altura uniforme para las tarjetas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px); /* Efecto de elevación */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Mayor sombra al pasar el mouse */
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .audioPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
  }
  
  .noImage {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .mediaType {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s ease;
  }
  
  .link:hover {
    color: #0056b3; /* Cambia el color al pasar el mouse */
  }
  